vscode/settings.json
vscode/launch.json

usuarios.csv
vitalisDB - mySql.session.sql
vitalisDB - SqlServer.session.sql

# Adicionando ignore no TARGET e OUT
target/
out/
target/classes/application.properties
target/api-vitalis-0.0.1-SNAPSHOT.jar
*.jar
#src/main/resources/application.properties